<div id="swisscams-layer" ng-controller="SwissCamsController">
    <ng-cesium
        ng-if="cams &amp;&amp; cams.length > 0"
        ng-hide="hideMap"
        cams="cams"
        on-open="onOpenCam(cam)"></ng-cesium>
    <photo-view
    	ng-if="cam"
        on-close="onClosePhotoView()"
        latitude="{{ cam.latitude }}"
        longitude="{{ cam.longitude }}"
        altitude="{{ cam.altitude }}"
        location="{{ cam.name }}"
        last-taken="{{ cam.lastTaken }}"
        img="{{ cam.img }}">
    </photo-view>
</div>
